fastapi
uvicorn[standard]
SQLAlchemy
pymysql
alembic

# Crypto & Auth
python-jose
python-dotenv
cryptography

# Pydantic
pydantic
pydantic[email]
pydantic-settings
email-validator

# Password hashing (Stable versions)
passlib[bcrypt]
bcrypt==4.0.1   # <-- IMPORTANT FIX
